{% include "header.html" %}
<div>
<h1>My Contact Details</h1>
<p>My Fictional Address</p>
<p>+919575645201</p>
<p>sumer.choudhary96@gmail.com</p>
<hr class="primary">
<div class="container">
<form class="row g-3" style="background:gold">
    <div class="col-lg-6">
        <label for="" class="form-label"><i class="fas fa-user fa-lg me-3 fa-fw"></i>User</label>
        <input type="text" class="form-control" id="">
      </div>
      <div class="col-lg-6">
        <label for="inputEmail4" class="form-label"><i class="fas fa-envelope fa-lg me-3 fa-fw"></i>Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div><br>
      <div class="mx-auto">
    <label>Your Message:</label><br>
    <textarea name="" rows="5" cols="30"></textarea><br>
      </div>
    <div class="mx-auto"><br/><br/><br/>
    <input class="btn btn-success" type="submit" name="">
    </div>
    
</form>
</div>
</div>

{% include "footer.html" %}