 <!-- Footer -->

 <footer class="white-section" id="footer">
    <div class="container-fluid">
      <a href="https://www.facebook.com/sumersingh.choudhary.359"><i class="social-icon fab fa-facebook-f"></i></a>
      <a href=""><i class="social-icon fab fa-twitter"></i></a>
      <a href="https://instagram.com/choudharysumersingh?igshid=ZDdkNTZiNTM="><i class="social-icon fab fa-instagram"></i></a>
      
      <a href="mailto:sumer.choudhary96@gmail.com"><i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright 2022 KittyCat</p>
    </div>
  </footer>

          <!-- Bootstrap Scripts -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html